body {
    background-color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
    .vlLogo {
    padding: 1%;
    }

    .dropdown {
        display: none;
    }

    #drop {
        position: relative;
        height: fit-content;
        border: none;
        display: none;
        padding: 1%;
    }
    .dropmenu {
        background-color: cornflowerblue;
        position: absolute;
        right: 0;
        width: 70%;
        padding: 2%;
        display: none;
    }
    #drop:checked ~ .dropmenu {
        display: block;
    }
    .droplist {
        list-style-type: none;
    }
    .droplink {
        display: block;
        background-color: lightblue;
        margin-bottom: 1px;
        padding: 2%;
    }   .droplink:hover, .droplink:active {
        background-color: darkmagenta;
        color: lavender;
    }

    .topNavi, .someNavi {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    }
    .navig {
    background-color: lightblue;
    font-size: large;
    padding: 5%;
    }   .navig:hover, .navig:active {
            color: lavender;
            background-color: darkmagenta;
        }
    .somelinkki {
    padding: 2%;
    }   .somelinkki:hover, .somelinkki:active {
        background-color: darkmagenta;
        }

 .droplink, .navig {
    color: black;
    text-decoration: none;
    }

main {
    width: 50%;
    margin: auto;
    background-color: whitesmoke;
    padding: 2% 5%;
    border: 15px solid lightblue;
}
    h1 {
        text-align: center;
    }

    p {
        line-height: 1.5;
    }
    .hleb {
        color: black;
        text-decoration: none;
        font-weight: bold;
    }   .hleb:hover, .hleb:active {
        color: darkmagenta;
    }

    .profil {
        float: left;
        max-width: 50%;
        max-height: auto;
        padding-right: 1%;
    }
    .pronouns {
        color: cornflowerblue;
    }


.blogi {
        display: flex;
    }
    #blogmenu {
        display: none;
        position: relative;
    }
    .blogNavi {
        padding: 1%;
    }
    .blogMenu {
        background-color: cornflowerblue;
        border: 1px solid lightblue;
        position: absolute;
        width: 450px;
        max-width: 70%;
        max-height: 50%;
        padding: 2%;
        overflow: auto;
        display: none;
    }   #blogmenu:checked ~ .blogMenu {
        display: block;
    }




footer {
    width: 50%;
    margin: auto;
    background-color: lightblue;
    padding: 0% 5%;
    border: 15px solid lightblue;
    text-align: center;
}

@media screen and (max-width: 1300px) {
    header {
        width: 70%;
    }
    main, footer {
        width: 60%;
    }
    .topNavi {
        display: none;
    }
    .dropdown {
        display: block;
    }
}
@media screen and (max-width: 800px) {
    header {
        width: 90%;
    }
    main, footer {
        width: 80%;
    }
    .topNavi, .someNavi {
        display: none;
    }
    .dropdown {
        display: block;
    }
    .credits {
        display: block;
        text-align: center;
        align-items: center;
    }
    .profil {
        float: none;
    }
}